.wh-100vwh {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #333333;
    color: #ffffff;
}

.header {
    height: 50px;
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    place-content: center;
}

.section-container {
    height: calc(100vh - 50px);
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
